{% extends '_frame.html' %}

{% block content %}
<div class="row">
  <div class="large-12 column">
    <h1>Add States</h1>
  </div>
</div>
<div class="row select-state">
  <div class="large-3 column">
    <a href="#" class="button">Alabama</a>
    <a href="#" class="button">Alaska</a>
    <a href="#" class="button">Arizona</a>
    <a href="#" class="button">Arkansas</a>
    <a href="#" class="button">California</a>
    <a href="#" class="button">Colorado</a>
    <a href="#" class="button">Connecticut</a>
    <a href="#" class="button">Delaware</a>
    <a href="#" class="button">Florida</a>
    <a href="#" class="button">Georgia</a>
    <a href="#" class="button">Hawaii</a>
    <a href="#" class="button">Idaho</a>
  </div>
  <div class="large-3 column">
    <a href="#" class="button">Illinois</a>
    <a href="#" class="button">Indiana</a>
    <a href="#" class="button">Iowa</a>
    <a href="#" class="button">Kansas</a>
    <a href="#" class="button">Kentucky</a>
    <a href="#" class="button">Louisiana</a>
    <a href="#" class="button">Massachusetts</a>
    <a href="#" class="button">Michigan</a>
    <a href="#" class="button">Minnesota</a>
    <a href="#" class="button">Mississippi</a>
    <a href="#" class="button">Missouri</a>
    <a href="#" class="button">Montana</a>
  </div>
  <div class="large-3 column">
    <a href="#" class="button">Nebraska</a>
    <a href="#" class="button">Nevada</a>
    <a href="#" class="button">New Hampshire</a>
    <a href="#" class="button">New Jersey</a>
    <a href="#" class="button">New Mexico</a>
    <a href="#" class="button">New York</a>
    <a href="#" class="button">North Carolina</a>
    <a href="#" class="button">North Dakota</a>
    <a href="#" class="button">Ohio</a>
    <a href="#" class="button">Oklahoma</a>
    <a href="#" class="button">Oregon</a>
    <a href="#" class="button">Pennsylvania</a>
  </div>
  <div class="large-3 column">
    <a href="#" class="button">Rhode Island</a>
    <a href="#" class="button">South Carolina</a>
    <a href="#" class="button">South Dakota</a>
    <a href="#" class="button">Tennessee</a>
    <a href="#" class="button">Texas</a>
    <a href="#" class="button">Utah</a>
    <a href="#" class="button">Vermont</a>
    <a href="#" class="button">Virginia</a>
    <a href="#" class="button">Washington</a>
    <a href="#" class="button">West Virginia</a>
    <a href="#" class="button">Wisconsin</a>
    <a href="#" class="button">Wyoming</a>    
  </div>
</div>


{% endblock %}