{% extends '_frame.html' %}

{% block content %}
<form action="">
  <section>
    <div class="row">
      <div class="column large-12">
        <h1>Florida Specific Information</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quidem, maxime officia nesciunt, unde eaque voluptatibus magnam in totam dicta eius laborum eos minus voluptatem esse eum ab alias corporis!</p>
      </div>
    </div>
    <div class="row">
      <div class="column small-12 large-6">
        <div class="row">
          <div class="column large-12">
            <h3>Types of solicitation</h3>
            <p>Types of solicitation programs used by organization or professional fundraiser</p>
          </div>
        </div>
        <textarea name="" id=""  style="height: 215px;" placeholder="Such as personal contact, direct mail, radio and TV commericals or newspaper ads) Enclose all written sales presentations, ads, phone scripts or other solicitations."></textarea>
      </div>
      <div class="column small-12 large-6">
        <div class="row">
          <div class="column large-12">
            <h3>Types of solicitation</h3>
            <p>Types of solicitation programs used by organization or professional fundraiser</p>
          </div>
        </div>
        <textarea name="" id=""  style="height: 215px;" placeholder="Such as personal contact, direct mail, radio and TV commericals or newspaper ads) Enclose all written sales presentations, ads, phone scripts or other solicitations."></textarea>
      </div>
      <div class="column small-12 large-6">
        <div class="row">
          <div class="column large-12">
            <h3>Institutions</h3>
            <p>Financial institutions, addresses, phones and account names into which all funds will be deposited</p>
          </div>
        </div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="Institution"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="Phone"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="Street"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="City"></div></div>
        <div class="row">
          <div class="column large-6"><input type="text" placeholder="State"></div>
          <div class="column large-6"><input type="text" placeholder="ZIP"></div>
        </div>
        <div class="row"><div class="column large-12"><button class="button flush-right">Add Institution</button></div></div>
      </div>
    </div>
    <div class="row">
      <div class="column large-12">
        <a href="#" class="button button--highlight flush-right">SUBMIT</a>
      </div>
    </div>
  </section>
</section>

</form>

{% endblock %}