{% extends '_frame.html' %}

{% block content %}
<form action="">
  <section>
    <div class="row">
    <div class="column large-12">
      <h1>Federal Form</h1>
    </div>
    </div>
    <div class="row">
      <div class="column large-4"><label for="">Name</label></div>
      <div class="column large-8"><input type="text"></div>
    </div>
    <div class="row">
      <div class="column large-4"><label for="">Other Names Used (DBAs)</label></div>
      <div class="column large-8"><input type="text"></div>
    </div>
    <div class="row"><div class="column large-12"><hr></div></div>

  </section>

  <section>
    <div class="row">
      <div class="column large-6">
        <h3>Purpose of Charitable Organization</h3>
        <textarea name="" id="" style="height: 330px;"></textarea>
      </div>
      <div class="column large-6">
        <div class="row">
          <div class="column large-12"><h3>Principle Place of Business</h3></div>
          <div class="column large-2"><label for="">Street</label></div>
          <div class="column large-10"><input type="text"></div>
        </div>
        <div class="row">
          <div class="column large-2"><label for="">City</label></div>
          <div class="column large-4"><input type="text"></div>
          <div class="column large-2"><label for="">State</label></div>
          <div class="column large-4"><input type="text"></div>
        </div>
        <div class="row">
          <div class="column large-2"><label for="">ZIP</label></div>
          <div class="column large-4"><input type="text"></div>
          <div class="column large-2"><label for="">Phone</label></div>
          <div class="column large-4"><input type="text"></div>
        </div>
        <div class="row">
          <div class="column large-12"><h3>Other Addresses</h3></div>
          <div class="column large-2"><label for="">Street</label></div>
          <div class="column large-10"><input type="text"></div>
        </div>
        <div class="row">
          <div class="column large-2"><label for="">City</label></div>
          <div class="column large-4"><input type="text"></div>
          <div class="column large-2"><label for="">State</label></div>
          <div class="column large-4"><input type="text"></div>
        </div>
        <div class="row">
          <div class="column large-2"><label for="">ZIP</label></div>
          <div class="column large-4"><input type="text"></div>
          <div class="column large-2"><label for="">Phone</label></div>
          <div class="column large-4"><input type="text"></div>
        </div>
      </div>
    </div>
    <div class="row"><div class="column large-12"><hr></div></div>
  </section>

  <section>
      <div class="row">
        <div class="large-6 column">
          <div class="row">
            <div class="column large-12"><h3>How fundraiser will be paid</h3></div>
            <div class="column large-12"><textarea name="" id=""  style="height: 220px;"></textarea></div>
          </div>
        </div>
        <div class="large-6 column">
          <div class="row">
            <div class="column large-12"><h3>Professional fundraiser who will solicit</h3></div>
            <div class="column large-3"><label for="">Name</label></div>
            <div class="column large-9"><input type="text"></div>
          </div>
          <div class="row">
            <div class="column large-3"><label for="">Position</label></div>
            <div class="column large-9"><input type="text"></div>
          </div>
          <div class="row">
            <div class="column large-3"><label for="">Street</label></div>
            <div class="column large-9"><input type="text"></div>
          </div>
          <div class="row">
            <div class="column large-3"><label for="">City</label></div>
            <div class="column large-4"><input type="text"></div>
            <div class="column large-2"><label for="">State</label></div>
            <div class="column large-3"><input type="text"></div>
          </div>
          <div class="row">
            <div class="column large-3"><label for="">Phone</label></div>
            <div class="column large-4"><input type="text"></div>
            <div class="column large-1"><label for="">ZIP</label></div>
            <div class="column large-4"><input type="text"></div>
          </div>
        </div>
      </div>
      <div class="row"><div class="column large-12"><hr></div></div>
    </section>
  
  <section>
    <div class="row">
      <div class="column large-12">
        <h3>Type of Business Entity 
          <div class="select inline">
            <select name="" id="">
              <option value="#">Corporation</option>
              <option value="#">Partnership</option>
              <option value="#">Sole Proprietorship</option>
              <option value="#">Other</option>
            </select>
          </div>
        </h3>
      </div>
    </div>

    <section>
      <div class="row">
        <div class="large-6 column">
          <div class="row">
            <div class="column large-3"><label for="">Name</label></div>
            <div class="column large-9"><input type="text"></div>
          </div>
          <div class="row">
            <div class="column large-3"><label for="">Position</label></div>
            <div class="column large-9"><input type="text"></div>
          </div>
          <div class="row">
            <div class="column large-3"><label for="">Street</label></div>
            <div class="column large-9"><input type="text"></div>
          </div>
          <div class="row">
            <div class="column large-3"><label for="">City</label></div>
            <div class="column large-4"><input type="text"></div>
            <div class="column large-2"><label for="">State</label></div>
            <div class="column large-3"><input type="text"></div>
          </div>
          <div class="row">
            <div class="column large-3"><label for="">Phone</label></div>
            <div class="column large-4"><input type="text"></div>
            <div class="column large-1"><label for="">ZIP</label></div>
            <div class="column large-4"><input type="text"></div>
          </div>
        </div>
        <div class="large-6 column">
          <div class="row">
            <div class="column large-3"><label for="">Name</label></div>
            <div class="column large-9"><input type="text"></div>
          </div>
          <div class="row">
            <div class="column large-3"><label for="">Position</label></div>
            <div class="column large-9"><input type="text"></div>
          </div>
          <div class="row">
            <div class="column large-3"><label for="">Street</label></div>
            <div class="column large-9"><input type="text"></div>
          </div>
          <div class="row">
            <div class="column large-3"><label for="">City</label></div>
            <div class="column large-4"><input type="text"></div>
            <div class="column large-2"><label for="">State</label></div>
            <div class="column large-3"><input type="text"></div>
          </div>
          <div class="row">
            <div class="column large-3"><label for="">Phone</label></div>
            <div class="column large-4"><input type="text"></div>
            <div class="column large-1"><label for="">ZIP</label></div>
            <div class="column large-4"><input type="text"></div>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="row">
        <div class="large-6 column">
          <div class="row">
            <div class="column large-3"><label for="">Name</label></div>
            <div class="column large-9"><input type="text"></div>
          </div>
          <div class="row">
            <div class="column large-3"><label for="">Position</label></div>
            <div class="column large-9"><input type="text"></div>
          </div>
          <div class="row">
            <div class="column large-3"><label for="">Street</label></div>
            <div class="column large-9"><input type="text"></div>
          </div>
          <div class="row">
            <div class="column large-3"><label for="">City</label></div>
            <div class="column large-4"><input type="text"></div>
            <div class="column large-2"><label for="">State</label></div>
            <div class="column large-3"><input type="text"></div>
          </div>
          <div class="row">
            <div class="column large-3"><label for="">Phone</label></div>
            <div class="column large-4"><input type="text"></div>
            <div class="column large-1"><label for="">ZIP</label></div>
            <div class="column large-4"><input type="text"></div>
          </div>
        </div>
        <div class="large-6 column">
          <div class="add">
            <i class="material-icons">add_circle_outline</i>
            <h2>Add Officers and Directors</h2>  
          </div>
          
        </div>
      </div>
    </section>
  </section>

</form>


{% endblock %}