{% extends '_frame.html' %}

{% block content %}
<form action="">
  <section>
    <div class="row">
    <div class="column large-12">
      <h1>Common Information</h1>
      <p><button class="button">Upload Electronic Form 990</button> <em>You can use your electronic 990 to autofill common information</em></p>
      
    </div>
    </div>
    <div class="row">
      
    </div>
    <div class="row">
      <div class="column small-12 large-6">
        <div class="row"><div class="column large-12"><h3>Name<i class="input-help material-icons" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">info</i></h3></div></div>
        <div class="row"><div class="column large-12"><input type="text"></div></div>
        <div class="row"><div class="column large-12"><label for="">Other Names Used (DBAs)</label><i class="input-help material-icons" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">info</i></div></div>
        <div class="row"><div class="column large-12"><input type="text"></div></div>
        <div class="row"><div class="column large-12"><label for="">Purpose of Charitable Organization</label><i class="input-help material-icons" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">info</i></div></div>
        <div class="row"><div class="column large-12"><textarea name="" id="" style="height: 330px;" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores perspiciatis quae fuga optio corporis."></textarea></div></div>
      </div>
      <div class="column small-12 large-6">
        <div class="row"><div class="column large-12"><h3>Principle Place of Business<i class="input-help material-icons" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">info</i></h3></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="Street"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="City"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="State"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="ZIP"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="Phone"></div></div>

        <div class="row"><div class="column large-12"><h3>Other Address<i class="input-help material-icons" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">info</i></h3></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="Street"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="City"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="State"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="ZIP"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="Phone"></div></div>
        
        <div class="row"><div class="column large-12"><button class="button">Add Address</button></div></div>
      </div>
    </div>
    <div class="row">
      <div class="column large-12">
        <a href="./step-2.html" class="button button--highlight  flush-right">NEXT</a>
      </div>
    </div>
  </section>



</form>


{% endblock %}

