{% extends '_frame.html' %}

{% block content %}
<form action="">
  <section>
    <div class="row">
    <div class="column large-12">
      <h1>Common Information <button class="button flush-right">Upload Eletronic 990</button></h1>
    </div>
    </div>
    <div class="row">
      
    </div>
    <div class="row">
      <div class="column small-12 large-6">
        <div class="row"><div class="column large-12"><h3>Name</h3></div></div>
        <div class="row"><div class="column large-12"><input type="text"></div></div>
        <div class="row"><div class="column large-12"><label for="">Other Names Used (DBAs)</label></div></div>
        <div class="row"><div class="column large-12"><input type="text"></div></div>
        <div class="row"><div class="column large-12"><label for="">Purpose of Charitable Organization</label></div></div>
        <div class="row"><div class="column large-12"><textarea name="" id="" style="height: 330px;" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores perspiciatis quae fuga optio corporis."></textarea></div></div>
      </div>
      <div class="column small-12 large-6">
        <div class="row"><div class="column large-12"><h3>Principle Place of Business</h3></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="Street"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="City"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="State"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="ZIP"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="Phone"></div></div>

        <div class="row"><div class="column large-12"><h3>Other Address</h3></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="Street"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="City"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="State"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="ZIP"></div></div>
        <div class="row"><div class="column large-12"><input type="text" placeholder="Phone"></div></div>
        
        <div class="row"><div class="column large-12"><button class="button">Add Address</button></div></div>
      </div>
    </div>
    <div class="row">
      <div class="column large-12">
        <a href="/step-2.html" class="button button--highlight  flush-right">NEXT</a>
      </div>
    </div>
  </section>



</form>


{% endblock %}

