{% extends '_frame.html' %}

{% block content %}
<form action="">
<section>
      
      <div class="row">
        <div class="column large-12">
          <h1>How fundraiser will be paid<i class="input-help material-icons" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">info</i></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium quidem, maxime officia nesciunt, unde eaque voluptatibus magnam in totam dicta eius laborum eos minus voluptatem esse eum ab alias corporis!</p>
        </div>
      </div>
      <div class="row">
        <div class="column small-12 large-6">
          <div class="row"><div class="column large-12"><h3>Describe<i class="input-help material-icons" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">info</i></h3></div></div>
          <textarea name="" id=""  style="height: 250px;" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum illo officia, impedit nesciunt mollitia temporibus."></textarea>
        </div>
        <div class="column small-12 large-6">
          <div class="row"><div class="column large-12"><h3>Professional fundraiser who will solicit<i class="input-help material-icons" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">info</i></h3></div></div>
          <div class="row"><div class="column large-12"><input type="text" placeholder="Name"></div></div>
          <div class="row"><div class="column large-12"><input type="text" placeholder="Position"></div></div>
          <div class="row"><div class="column large-12"><input type="text" placeholder="Phone"></div></div>
          <div class="row"><div class="column large-12"><input type="text" placeholder="Street"></div></div>
          <div class="row"><div class="column large-12"><input type="text" placeholder="City"></div></div>
          <div class="row">
            <div class="column large-6"><input type="text" placeholder="State"></div>
            <div class="column large-6"><input type="text" placeholder="ZIP"></div>
          </div>
          <div class="row"><div class="column large-12"><button class="button flush-right">Add Solicitor</button></div></div>
        </div>
      </div>
      <div class="row">
        <div class="column large-12">
          <a href="./step-2.html" class="button button--highlight flush-leftt">PREVIOUS</a>
          <a href="#" class="button button--highlight flush-right">SUBMIT</a>
        </div>
      </div>
    </section>
  </section>

</form>

{% endblock %}