{% extends '_frame.html' %}

{% block content %}
<form action="">
  <section>
    <div class="row">
      <div class="column large-12">
        <h3>Type of Business Entity 
          <div class="select inline">
            <select name="" id="">
              <option value="#">Partnership</option>
              <option value="#">Corporation</option>
              <option value="#">Sole Proprietorship</option>
              <option value="#">Other</option>
            </select>
          </div>
          <i class="input-help material-icons" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">info</i>
        </h3>
      </div>
    </div>
  
    <section>
      <div class="row">
        <div class="column large-12">
          <h1>Partnership<i class="input-help material-icons" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">info</i></h1>
          <p>(Attach partnership agreement) List partners’ names, positions, phones and home addresses</p>
        </div>
      </div>
      <div class="row">
        <div class="column small-12 large-6">
          <div class="row"><div class="column large-12"><h3>Partner Information<i class="input-help material-icons" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">info</i></h3></div></div>
          <div class="row"><div class="column large-12"><input type="text" placeholder="Name"></div></div>
          <div class="row"><div class="column large-12"><input type="text" placeholder="Phone"></div></div>
          <div class="row"><div class="column large-12"><input type="text" placeholder="Street"></div></div>
          <div class="row"><div class="column large-12"><input type="text" placeholder="City"></div></div>
          <div class="row">
            <div class="column large-6"><input type="text" placeholder="State"></div>
            <div class="column large-6"><input type="text" placeholder="ZIP"></div>
          </div>
        </div>
        <div class="column small-12 large-6">
          <div class="row"><div class="column large-12"><h3>Partner Information</h3></div></div>
          <div class="row"><div class="column large-12"><input type="text" placeholder="Name"></div></div>
          <div class="row"><div class="column large-12"><input type="text" placeholder="Phone"></div></div>
          <div class="row"><div class="column large-12"><input type="text" placeholder="Street"></div></div>
          <div class="row"><div class="column large-12"><input type="text" placeholder="City"></div></div>
          <div class="row">
            <div class="column large-6"><input type="text" placeholder="State"></div>
            <div class="column large-6"><input type="text" placeholder="ZIP"></div>
          </div>
          <div class="row"><div class="column large-12"><button class="button">Add Partner</button></div></div>
        </div>
      </div>
      <div class="row">
        <div class="column large-12">
          <a href="./index.html" class="button button--highlight flush-leftt">PREVIOUS</a>
          <a href="./step-3.html" class="button button--highlight flush-right">NEXT</a>
        </div>
      </div>
    </section>
  </section>
</form>


{% endblock %}