.app-wrapper {
  display: flex;
  flex-direction: column;  
}

.main-header {
  background-color: $main-color;
  box-shadow: 2px 2px 4px rgba(black, .1);
  position: relative;
  z-index: 100;
  display: flex;

  &__logo {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
  }

  &__item {
    color: white;
    padding: 15px 25px;
    display: inline-block;
  }

  &__spacer { flex: 1; }

  &__more {
    &:hover {
      background-color: rgba(white, .1);
    }
  }
}


.main-menu {
  background-color: $yellow;
  box-shadow: 2px 2px 4px rgba(black, .1);
  position: relative;
  z-index: 99;

  a {
    color: white;
    padding: 20px;
    display: block;

    
    &:hover {
      background-color: $accent-color;
    }
  }
}

.main-content {
  display: flex;
  flex: 1;
}

.states-menu {
  background-color: $green;
  overflow-y: scroll;
  box-shadow: 2px 2px 4px rgba(black, .1);
  position: relative;
  z-index: 98;

  &__item {
    display: block;
    padding: 15px 15px 15px 20px;
    color: rgba(white, .8);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .4px;
    border-bottom: 1px solid rgba($dark-gray, .1);
    @extend .u-transition;

    &:hover {
      background-color: rgba(black, .1);
      color: white;
    }

    > i {
      float: right;
      margin-left: 20px;
    }
  }
}

.main-form {
  flex: 1;
  overflow-y: scroll;
  color: $dark-gray;
  font-weight: 100;

  .row { margin-bottom: 10px; }

  .select-state .button { 
    width: 100%;
    margin-bottom: 5px;
  }

  .button {
    font-size: 1rem;
    display: inline-block;
    padding: 8px 12px;
    background-color: rgba($main-color, .2);
    border-radius: 0;
    color: $main-color;
    cursor: pointer;

    &.button--highlight {
      background-color: $accent-color;
      color: white;
    }

    &:hover {
      background-color: $main-color;
      color: white;
    }
  }

  .flush-right { float: right; }
  .flush-left { float: left; }

  .flush-right,
  .flush-left { width: auto; }

  section { 
    padding-bottom: 20px;
    
    hr { 
      margin-top: 30px;
      border-top: 1px solid rgba($light-gray, .3); 
    }
  }

  label { display: inline-block; }

  input,
  label { 
    padding: 6px;
    font-weight: 100;
    width: 100%; 
  }

  input,
  textarea {
    border: 1px solid rgba($light-gray, .4);
  }

  textarea {
    border-radius: 0;
    width: 100%;
    padding: 6px;
  }
  
  h1 {
    font-weight: 100;
    text-transform: uppercase;
  }

  h3 {

    em {
      font-weight: 100;
      text-transform: none;
      opacity: .5;
    }
  }

  h3 { text-transform: uppercase; }
  
  h3 > .select.inline {
    position: relative;

    &:before {
      @extend .u-material-icons;
      content: 'keyboard_arrow_down';
      position: absolute;
      right: 0;
      padding: 8px;
      pointer-events: none;
    }

    > select {
      font-weight: 100;
      border: 0;
      color: rgba($dark-gray, .5);
      border-bottom: 1px solid $light-gray;
      -webkit-appearance: none;
      border-radius: 0;
      padding: 6px 0 6px 6px;
      font-size: 1.3rem;
      background-color: transparent;
    }

  }

  .select {
    &.inline { display: inline-block; }
  }

  .add {
    text-align: center;
    background-color: rgba($purple, .5);
    height: 100%;
    padding: 40px 0 20px;
    text-transform: uppercase;
    opacity: .2;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }


    h2 {
      font-size: 1.4rem;
      font-weight: 100;
    }

    .material-icons {
      font-size: 5rem;
    }

  }

}